<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <h1>
        Witaj w systemie SPCRM
    </h1>
    <p>
        Zostałeś zalogowany do systemu SPCRM. Poniżej znajdują się Twoje dane logowania:
    </p>
    <p>Imię i nazwisko: {{FirstName}} {{LastName}}</p>
    <p>Adres e-mail: {{Email}}</p>
    <p>Nazwa użytkownika: {{UserName}}</p>
    <p>Hasło zostanie ci podane przez administartora systemu.</p>
    <p>Zostało ci tylko aktywować konto klikając w link poniżej:</p>
    <a href="{{Link}}">Aktywuj konto</a>
    <p>Lub kopjując poniższy link: {{Link}}</p>

    <p>{{Token}}</p>
</body>

</html>