#.NET CONFIG
ASPNETCORE_PORT=8080
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_LOGGING_LEVEL=Information

#DATABASE CONFIG
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=spcrm
DB_HOST=postgres
DB_PORT=5432

#REDIS CONFIG
REDIS_HOST=redis
REDIS_PORT=6379

#MAILPIT CONFIG
MAILPIT_SEND_PORT=63854
MAILPIT_UI_PORT=8025
MAILPIT_HOST=mailpit