<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <h1>
        Szanowni Państwo, {{RecipientName}},
    </h1>
    <p>
        Dziękujemy za realizację zamówienia. W załączniku przesyłamy fakturę VAT nr {{InvoiceNumber}}.
    </p>
    <p>Kwota do zapłaty: {{TotalAmount}} {{Currency}}</p>
    <p>Termin płatności: {{DueDate}}</p>
    <p>Poniżej mailu znajduje się faktura.</p>
    <p>Z poważaniem, Zespół SPCRM</p>

    <h5>Wiadomość wygenerowana automatycznie przez system SPCRM.</h5>
</body>

</html>